$orange: hsl(26, 100%, 55%);
$mediumOrange: hsl(26, 100%, 90%);
$lightOrange: hsl(26, 100%, 70%);
$darkOrange: hsl(26, 92%, 50%);
$lightOrange: hsl(25, 100%, 94%);
$varyDarkBlue: hsl(220, 13%, 13%);
$darkBlue: hsl(219, 9%, 45%);
$mediumBlue: hsl(220, 14%, 75%);
$lightBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
